body {
font-family:Verdana;
}
header {
text-align: center;
border-radius: 40px;
}
.nav{
    overflow: hidden;
    list-style-type: none;
    position:fixed;
}
@keyframes showMenu {
    from {
        transform: translateX(-300px);
    }
    to {
        transform: translateX(-5px);
    }
}
@keyframes hideMenu {
    from {
        transform: translateX(-5px);
    }
    to {
        transform: translateX(-300px);
    }
}
@keyframes InMenuTitleAnimation {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

.menu_line{
    position:sticky;
    overflow:hidden;
    user-select: none;
    position:fixed;
    display:grid;
    grid-template-columns: 1fr;
    float:left;
    transition-property: all;
    transition-duration: 300ms;
    border-radius: 5px;
    z-index : 1;
}
.menu_line:hover{
    background-color:rgb(201, 197, 197);
    cursor:pointer;
}
.menu_underscore{
    margin-top:-12px;
}
.menu_underscore_bottom{
    margin-top:-12px;
    margin-bottom:2px;
}
.menu{
    scrollbar-width: none;
    overflow:scroll;
    font-family: Times New Roman;
    position:sticky;
    width: 100%;
    height: fit-content;
    position:fixed;
    display:flex;
    animation-duration: 500ms;
    animation-timing-function:cubic-bezier(0.215, 0.610, 0.355, 1);
    animation-iteration-count:1;
}
.real_menu{
    flex:0.2;
    float:left;
    border-radius: 7px;
    background-color: #FFEE99;
}
.hidden_menu{
    margin-left:-300px;
}
.show_menu{
    margin-left:0px;
}
.inMenu{
    width:fit-content;
    margin-left:2%;
    overflow:hidden;
}
.TitleInMenu{
    transition-duration: 500ms;
    width:fit-content;
    font-family:serif;
    transition-property: all;
    text-align: center;
    animation-name: InMenuTitleAnimation;
    animation-duration: 10s;
    animation-timing-function:linear;
    animation-iteration-count:infinite;
}
.TitleTxt{
    user-select: none;
}
.contacts{
    display:grid;
    grid-template-columns: 1fr;
    overflow:hidden;
    text-align: center;
    justify-content: end;
    width:fit-content;
}
.contatti{
    display:grid;
    grid-template-columns: 1fr;
}
.contatto{
    overflow:hidden;
    margin-bottom:-14px;
    font-variant: small-caps;
    user-select: none;
}
.contatto a{
    border-radius:20px;
    border-top:1px groove transparent;
    text-decoration: none;
    color:rgb(23, 179, 179);
    font-variant: small-caps;
    transition-property: all;
    transition-duration: 300ms;
}
.contatto a:hover{
    color:rgb(23, 113, 173);
    border-top:1px groove darkorange;
}
.contact_txt{
    margin-bottom:-5px;
    transform:skewX(10deg);
}
.options_txt{
    transform:skewX(10deg);
    margin-bottom:-5px;  
    text-align:center;
}
.moving_text_option_container{
    text-align:left;
    user-select: none;
}
.moving_text_option{
    border:2px groove black;
    width: fit-content;
    padding-left:3px;
    padding-right: 3px;
    font-variant: small-caps;
    border-radius: 5px;
    transition-property: all;
    transition-duration: 300ms;
}
.moving_text_option:hover{
    background-color:rgb(201, 197, 197);
    cursor:pointer;
}
.hidden_moving_text{
    display:none;
}

.TextMovingStop{
    font-weight: bold;
    color:goldenrod;
}
.navlist{
    float:left;
}
.navlist a{
    display:block;
    text-align:center;
    text-decoration: none;
    background-color: yellow;
    color:black;
    margin:10px 10px 0px 10px;
    border:1px groove black;
    border-radius: 5px;
    transition-property: all;
    transition-duration:500ms;
}
.navlist a:hover{
    transform:skew(-3deg, 5deg);
}
.stop_moving{
    float:right;
    margin:10px;
    font-size:18px;
    border-radius: 7px;
    transition-property: all;
    transition-duration: 300ms;
    font-weight: bolder;
}
.stop_moving:hover{
    cursor:pointer;
    background-color:rgb(201, 197, 197);
}
.LogoImg{
    text-align:center;
}
.logo{
    width: 55%;
}
.description_cont{
    display:flex;
    border-radius: 10px;
    background-attachment: fixed;
}
.description{
    color:rgb(0, 0, 0);
    flex:1;
    text-rendering: optimizeLegibility;
    transition-duration: 200ms;
}
.description:hover{
    background-color:rgba(255, 255, 0, 0.555);
    border-radius: 10px;
}
.image{
    flex:1;
    border-radius: 10px;
}

.ClassLogoMargin{
    margin-right:-17.29%;
}
